.light {
  /*!
  Theme: StackOverflow Light
  Description: Light theme as used on stackoverflow.com
  Author: stackoverflow.com
  Maintainer: @Hirse
  Website: https://github.com/StackExchange/Stacks
  License: MIT
  Updated: 2021-05-15

  Updated for @stackoverflow/stacks v0.64.0
  Code Blocks: /blob/v0.64.0/lib/css/components/_stacks-code-blocks.less
  Colors: /blob/v0.64.0/lib/css/exports/_stacks-constants-colors.less
*/
}
pre code.hljs.light  {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
code.hljs.light {
  padding: 3px 5px;
}
.light.hljs {
  color: #2f3337;
  background: #f8f6f6;;
}
.light .hljs-subst {
  color: #2f3337;
}
.light .hljs-comment {
  color: #656e77;
}
.light .hljs-attr,
.light .hljs-doctag,
.light .hljs-keyword,
.light .hljs-meta .hljs-keyword,
.light .hljs-section,
.light .hljs-selector-tag {
  color: #015692;
}
.light .hljs-attribute {
  color: #803378;
}
.light .hljs-name,
.light .hljs-number,
.light .hljs-quote,
.light .hljs-selector-id,
.light .hljs-template-tag,
.light .hljs-type {
  color: #b75501;
}
.light .hljs-selector-class {
  color: #015692;
}
.light .hljs-link,
.light .hljs-regexp,
.light .hljs-selector-attr,
.light .hljs-string,
.light .hljs-symbol,
.light .hljs-template-variable,
.light .hljs-variable {
  color: #54790d;
}
.light .hljs-meta,
.light .hljs-selector-pseudo {
  color: #015692;
}
.light .hljs-built_in,
.light .hljs-literal,
.light .hljs-title {
  color: #b75501;
}
.light .hljs-bullet,
.light .hljs-code {
  color: #535a60;
}
.light .hljs-meta .hljs-string {
  color: #54790d;
}
.light .hljs-deletion {
  color: #c02d2e;
}
.light .hljs-addition {
  color: #2f6f44;
}
.light .hljs-emphasis {
  font-style: italic;
}
.light .hljs-strong {
  font-weight: 700;
}
